header {
    width: 100%;
    background-color: #00529f1d;
    padding: 20px 0;
    margin-top: 6rem;
}

.header-row {
    max-width: 1000px;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-left__container {
    text-align: left;
}

.header-right__container {

}

.header-title {
    font-size: 68px;
}
  
.header-subtitle {
    font-size: 32px;
}

.header-button {
    background-color: #00529f;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}